@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackheart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    width: 80px;
    margin: 20px 20px 20px 10px;
}


.search-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#search-bar {
    border: none;
    width: 57em;
    height: 40px;
    background-color: rgba(0,0,0,.05);
    font-size: 12pt;
    background-image: url(images/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    background-position-x: 1%;
    padding-left: 2.5em;
    padding-top: 0;
    padding-bottom: 0;
    
    
}
/*Como deixar a search-bar e o search-button grudados?*/

#search-button {
    
    background: #fb3e44;
    border-radius: 0;
    padding: initial;
    height: 40px;
    width: 80px;
    color: white;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    align-items: center;
    align-content: center;
    font-size: 10pt;
    white-space: normal;
    text-align: center;
    
    
}

#join-button {
    text-decoration: none;
    border: 1pt;
    border-style: solid;
    background-color: white;
    border-radius: 0;
    height: 30px;
    width: 60px;
    margin-left: 6em;
}

#join {
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-size: 12pt;
    
}

#login {
    text-decoration: none;
    color: rgb(82, 82, 82);
    margin-left: 2em;
}

#section-1 {
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

#section-1 h1 {
    font-size: 5em;
    margin-bottom: 30px;
    margin-top: 5px;
}

#section-1 article{
    font-size: 14pt;
    text-align: center;
    margin-bottom: 30px;
}

#section-1 div{
    display: inline-flex;
}

#see-plans-button{
    border-radius: 0;
    box-shadow: 5px 5px 0 rgba(251,59,73,.2);
    background-color: #FB3B49;
    color: white;
    font-size: 14pt;
    width: 200px;
    height: 50px;
    margin-right: 2em;

}
#join-free-button{
    border-radius: 0;
    background-color: white;
    font-size: 14pt;
    border: 1pt;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

#section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

#section-2 h2 {
    background-color: rgba(255,204,53,.4); 
    font-style: italic;  
    transform: skew(9deg,0deg);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2em;
}

#section-2 article{
    font-size: 14pt;
    text-align: center;
    margin-left: 18em ;
    margin-right: 18em;
}


#section-2 img{
    width: 250px;
    margin-bottom: 2em;
    
}


#section-3 {
    margin-left: 10em;
    margin-right: 10em;
    
}

#sec3-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

#sec3-div div {
    margin-left: 2em;
    margin-top: 5em;
}

#section-3 h3{
    color: red;
   
    
}

#section-3 p{
    font-size: 10pt;
     
}

#section-3 img{
    width: 30px;
}

#div-button{
    display: flex;
    justify-content: center;

    
}

#org-button {
    color: white;
    background-color: black;
    box-shadow: 5px 5px 0px rgba(128,83,35,.2);
    width: 300px;
    height: 50px;
    font-size: 15px;
    margin-top: 5em;
    margin-bottom: 5em;
}